.main {
  height: 500px;
  background-color: #d87093;
  color: #808080;
  font-size: 30px;
}

section {
  background-color: #ffe4e1;
}

.subsection {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
h1 {
  font-size: 90px;
  font-weight: bolder;
  margin: 0;
}

p {
  margin: 0;
}
.title {
  color: #1c1d25;
  font-weight: bolder;
  font-size: 40px;
  margin: 0px;
  margin-top: 5px;
}
ul {
  display: flex;
  margin-left: 800px;
  font-weight: bolder;
}

li {
  width: 200px;
  list-style: none;
  justify-content: space-between;
}

.nametitle {
  padding: 100px;
}

.socialmedia {
  text-align: right;
}

.information {
  font-size: 30px;
  color: #808080;
}

.headshot {
  width: 300px;
  border-radius: 150px;
}
