body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18;
  line-height: 1.6em;
  background-color: lavenderblush;
}

h1 {
  text-transform: uppercase;
  text-align: center;
}
.mistyrose {
  color: white;
  background-color: lightslategray;
  font-style: italic;
}

#circle {
  width: 150px;
  height: 150px;
  background-color: palevioletred;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 300px;
}

#circle-1 {
  width: 150px;
  height: 150px;
  background-color: palevioletred;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 500px;
}

#circle-2 {
  width: 50px;
  height: 50px;
  background-color: palevioletred;
  border-radius: 50%;
  margin-top: 200px;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 450px;
}

#circle-3 {
  width: 200px;
  height: 70px;
  background-color: palevioletred;
  border-radius: 50%;
  margin-top: 300px;
  margin-bottom: 20px;
  position: absolute;
  margin-left: 380px;
}

#container {
  width: 700px;
  margin: auto;
}

ul {
  border: 5px palevioletred dotted;
  padding: 30px;
  list-style: none;
}
